<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Doors</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>

    <script>
        var dbcomplete = <%- JSON.stringify(db)%>;
    </script>

</head>

<body>

<% include navbar.ejs %>

<div id="content">
    <h1>Doors</h1>

    <div class="doorPage-Doors-Container">
        <form class="doorPage-Form" method="post" action="/getDoorState">
            <div class="frontDoor">
                <input id="frontDoor" name="door" value="frontDoor" type="image">

                <h1>Front Door</h1>
            </div>

            <div class="backDoor">
                <input id="backDoor" name="door" value="backDoor" type="image">

                <h1>Back Door</h1>
            </div>
        </form>
        <script type="text/javascript">
            if (<%= user.frontDoor%>) {
                document.getElementById('frontDoor').src = "<%= frontDoor%>Door.jpg";
            }
            if (<%= user.backDoor%>) {
                document.getElementById('backDoor').src = "<%= backDoor%>Door.jpg";
            }
        </script>
    </div>


    <div id="doorTable">
        <h2>Access Log:</h2>
        <br>

        <table style="width:100%">
            <tr>
                <td>First Name:</td>
                <td>Last Name:</td>
                <td>Open/Close:</td>
                <td>Date:</td>
                <td>Time:</td>
            </tr>

            <script>
                for (var i = 0; i < dbcomplete.length; i++) {
                    document.write('<tr>');
                    document.write('<td>' + dbcomplete[i].name + '</td>');
                    document.write('<td>' + dbcomplete[i].lastname + '</td>');
                    document.write('<td>' + dbcomplete[i].action + '</td>');
                    document.write('<td>' + dbcomplete[i].date + '</td>');
                    document.write('<td>' + dbcomplete[i].time + '</td>');
                    document.write('</tr>');
                }
            </script>
        </table>
    </div>
</div>

</body>
</html>