<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Doors</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>

    <script>
        var dbcomplete = <%- JSON.stringify(db)%>;
    </script>

</head>

<body>

<% include navbar.ejs %>

<div id="content">
    <h1>Doors</h1>

    <div class="doorPage-Doors-Container">
        <form class="doorPage-Form" method="post" action="/getDoorState">
            <div class="frontDoor">
                <input id="frontDoor" name="door" value="frontDoor" type="image">

                <h1>Front Door</h1>
            </div>

            <div class="backDoor">
                <input id="backDoor" name="door" value="backDoor" type="image">

                <h1>Back Door</h1>
            </div>
        </form>
        <script type="text/javascript">
            if (<%= user.frontDoor%>) {
                document.getElementById('frontDoor').src = "<%= frontDoor%>Door.jpg";
            } else{
                document.getElementById('frontDoor').src = "<%= frontDoor%>Door.jpg";
                document.getElementById('frontDoor').disabled = true;
                document.getElementById('frontDoor').style.opacity = 0.4;
            }
            if (<%= user.backDoor%>) {
                document.getElementById('backDoor').src = "<%= backDoor%>Door.jpg";
            } else {
                document.getElementById('backDoor').src = "<%= backDoor%>Door.jpg";
                document.getElementById('backDoor').disabled = true;
                document.getElementById('backDoor').style.opacity = 0.4;
            }
        </script>
    </div>
</div>

</body>
</html>