<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lights</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>

<body>

<% include navbar.ejs %>

<div id="content">
    <h1>Lights</h1>
    <form class="lightConsumption" method="post" action="/updatePrivileges">

        <label for="bedroomLight">Bedroom</label>
        <span class="consumptionLabel">watts: <%= light1 %> </span>

        <br>

        <label for="officeLight">Office</label>
        <span class="consumptionLabel">watts: <%= light2 %></span>

        <br>

        <label for="kitchenLight">Kitchen</label>
        <span class="consumptionLabel">watts: <%= light3 %></span>

        <br>

        <label for="livingLight">Living Room</label>
        <span class="consumptionLabel">watts: <%= light4 %></span>

        <br>

        <label for="bathroomLight">Bathroom</label>
        <span class="consumptionLabel">watts: <%= light5 %></span>

        <br>

        <label for="laundryLight">Laundry</label>
        <span class="consumptionLabel">watts: <%= light6 %></span>

        <br>
        <br>

        <h2>Total Current Usage: <%= currentTotal %></h2>

        <br>

        <h2>Total Usage: <%= total %></h2>

    </form>

</div>
</body>
</html>